<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218532659591-im3eu072593itqapf112pes5knvjk252.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218532659591-im3eu072593itqapf112pes5knvjk252</string>
	<key>API_KEY</key>
	<string>AIzaSyD8wd72uMqmhY5Vee8kFVnbjQ9NHHciy1c</string>
	<key>GCM_SENDER_ID</key>
	<string>218532659591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AfanasevAI.Registration</string>
	<key>PROJECT_ID</key>
	<string>registration-17773</string>
	<key>STORAGE_BUCKET</key>
	<string>registration-17773.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:218532659591:ios:8cc9cab31635a7700fd322</string>
</dict>
</plist>
